*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#meter-container div {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	font-family: 'Source Code Pro' !important;
}

* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('entypo-social.eot');
    src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
         url('entypo-social.woff') format('woff'),
         url('entypo-social.ttf') format('truetype'),
         url('entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
	font-family: "entypo";
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: #ffffff;
	overflow: hidden;
	font-family: 'Source Code Pro', Arial, sans-serif;
	/*font-family: 'Droid Sans Mono';*/
}

#container {

}

#sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	background-color: #fff;
	padding: 10px;
}

#sidebar p {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.cam-view {
	width: 320px;
	height: 240px;
	outline: 1px solid #fff;	
}

#cam-view {
	position: absolute;
	top: 0px;
	left: 0px;
}

#ir-cam-view {
	position: absolute;
	right: 0px;
	top: 0px;
}

#cam-settings {
	display: none;
	position: absolute;
	top: 0;
	margin-top: 272px;
	background-color: #fff;
	padding: 8px;
	width: 320px;
}

#cam-settings label {
	font-size: 14px;
	line-height: 14px;
}

#cam-settings input[type=text] {
	width: 50px;
}

#status-led {
	width: 10px;
	height: 10px;
	background-color: #3878ff;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10100;
	display: none;
}

#ui-overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 322px;
	height: 240px;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#debug {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

#reinit-btn {
	font-size: 36px;
	border-radius: 0;
	border-bottom-left-radius: 3px;
	background-color: #fff;
	border-color: #fff;
	position: absolute;
	margin: 0px;
	right: -1px;
	top: -1px;
	width: 30px;
	z-index: 10010;
	transition: background-color 0.15s linear;
}

#reinit-btn:hover {
	background-color: #d9d9d9;
}

#headtrackerMessage {
	position: absolute;
	bottom: 4px;
	left: 3px;
	z-index: 10009;
	color: #fff;
	font-size: 10px;
	padding: 4px;
}

.info-bar {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 8px 6px;
	width: 322px;
	border: 1px solid #fff;
	background-color: #fff;
	font-size: 12px;
	margin-top: 241px;
}

#tracking-info {
	border-bottom-right-radius: 2px;
	margin-left: -1px;
}

#ir-tracking-info {
	border-bottom-left-radius: 2px;
	margin-left: -1px;
}

#gUMMessage {
	font-size: 14px;
	margin: 0px auto;
	margin-top: 5px;
	color: #fff;
	z-index: 10000;
	position: absolute;
	left: 340px;
	top: 0;
}

#intro {
	color: #fff;
	width: 320px;
	height: 180px;
	background-color: transparent;
	margin: 0px auto;
	margin-left: -160px;
	margin-top: -90px;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 4px;
}

#intro-container {
	background-color: transparent;
	margin: 0px;
	height: 100%;
	width: 100%;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 2px 10px rgba(0,0,0,0.6);
}

#intro h1 {
	/*font-family: 'Cabin';*/
	font-weight: 100;
	text-align: center;
	margin-bottom: 5px;
	font-size: 40px;
	line-height: 58px;
}

#intro p {
	font-size: 16px;
	font-weight: 100;
	text-align: center;
}

#start {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	font-size: 18px;
	line-height: 18px;
	font-weight: 100;
	text-align: center;
	margin: 0px auto;
	position: absolute;
	left: 50%;
	margin-top: 20px;
	padding-top: 21px;
	margin-left: -32px;
	color: white;
	border: none;
	background-color: #444;
	transition: background-color 0.7s ease;
}

#start.active {
	background-color: #3878ff;	
}

#modes {
}

#modes span {
	font-weight: 300;
}

.btn {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 3px;
	font-size: 11px;
	background-color: #f0f0f0;
	border: 1px solid #999;
	border-radius: 2px;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transition: background-color 0.15s linear;
}

.btn:hover {
	cursor: pointer;
	background-color: #d9d9d9;
}

.btn:active {

}

.btn.selected {
	background-color: #ccc;
}

canvas#debug {
	border: 1px solid #fff;
	border-left-width: 0;
	border-top-width: 0;
	background-color: #000;
}

canvas#ir-cam {
	background-color: #000;
}

#stats {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#helper {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 160px;
	-webkit-transition: background 2s linear;
	transition: background 2s linear;
	z-index: 120000;
	background: -webkit-linear-gradient(90deg, transparent, #3878ff);
	background: linear-gradient(0deg, transparent, #3878ff);
	opacity: 0;
}


.webcam .start:hover {
    background: #3878ff;
}

.webcam .start:active {
    background: #1743a1;
    color: #e9e9e9;
}

#cred {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: white;
	font-size: 12px;
	padding: 5px 7px;
	width: 320px;
}

#cred a {
	color: #000;
}

#cred a:visited {
	color: #000;
}

#meter-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 60px;
	width: 200px;
}

/* misc */

.a-l {
	text-align: left;
}

.a-r {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.hide {
	display: none;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear {
	display: inline-block;
}

.clear {
	display: block;
}